<div class="block">
  <nav class="navbar is-link level" role="navigation" aria-label="main navigation">
    <div class="navbar-brand level-left">
      <a class="navbar-item" href="#" routerLink="/">
        <h1 class="title is-4" style="color: white;">
         OCBC Test
        </h1>
      </a>

      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
         aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="level-right">
      <div id="navbar-main" class="navbar-menu " #navMenu>

        <div class="navbar-end">
          <a class="navbar-item" href="#" [routerLinkActive]="['is-active']" routerLink="/">
            Add Customer
          </a>
          <a class="navbar-item" href="#" [routerLinkActive]="['is-active']" routerLink="/counter">
            Add Transaction
          </a>
          <a class="navbar-item" href="#" [routerLinkActive]="['is-active']" routerLink="/fetch-data">
            Print Transaction
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
